<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<div th:insert="content/header.html"></div>

<div class="container">
    <div class="starter-template">
<div class="nav navbar-left">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/admin/category">Categories</a></li>
        <li role="presentation"><a href="/admin/product">Products</a></li>
        <li role="presentation"><a href="/admin/user">Users</a></li>
    </ul>
</div>
    </div>
</div>

<div th:insert="content/footer.html"></div>
</html>