<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<div th:insert="content/header.html"></div>
<div class="col-md-4" th:insert="admin/admin.html"></div>

<div class="container">
    <div class="starter-template">
        <div class="col-md-4">

            <div class="list-group">
                <th:block th:each="category : ${categories}">

                    <a th:href="@{'/admin/category/' + ${category.id} + '/edit'}"
                       class="list-group-item list-group-item-info" th:text="${category.name}">
                    </a>
                </th:block>
            </div>

                <h4>Add category</h4>
                <form method="POST" action="/admin/category/add" th:action="@{'/admin/category/add'}"
                      th:object="${category}">
                    <div class="form-group">
                        <label for="name">Category name</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Category name" id="name"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

                    </div>
                    <div class="form-group">
                        <label for="desc">Category description</label>
                        <input type="text" th:field="*{description}" class="form-control" placeholder="Category desc"
                               id="desc"/>
                    </div>
                    <input th:field="*{id}" type="hidden" value="${category.id}"/>
                    <div class="form-group row">
                        <div class="col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:insert="content/footer.html"></div>
</html>