<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<div th:insert="content/header.html"></div>
<div class="col-md-4" th:insert="admin/admin.html"></div>

<div class="container">
    <div class="starter-template">
        <div class="col-md-6">
            <div th:if="${message!= null}">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 th:text="${message}"></h5>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <table class="table">
                    <tr>
                        <th>Action</th>
                        <th>User name</th>
                        <th>User lastname</th>
                        <th>User email</th>
                        <th>User role</th>

                    </tr>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td><a th:href="@{'/admin/user/' + ${user.id} + '/edit'}"
                                   class="list-group-item list-group-item-info" th:text="${'Edit'}">
                            </a></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.roles}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
<div th:insert="content/footer.html"></div>

</html>